@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* General */

.btn{
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #577399;
    -fx-background-radius:30;
    -fx-text-fill:white;
    -fx-font-size:16;
}

.btn:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#1a3d51;
    -fx-background-radius:30;
    -fx-text-fill: white;
    -fx-border-color: #1a3d51;
    -fx-border-radius:30;
    -fx-border-width:2;
}

.btn:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#30b1c6;
    -fx-background-radius:30;
    -fx-border-color: #30b1c6;
    -fx-border-radius:30;
    -fx-border-width:3;
}

.title {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
}

.text {
    -fx-font-family: 'Lato', sans-serif;
}

.input_field {
    -fx-text-box-border: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Menu Button */
.menu-btn {
    -fx-background-color: #aecee9;
    -fx-background-radius:10;
    -fx-border-radius:10;
}

.menu-btn ImageView {
    -fx-effect: innershadow( gaussian , black , 7 , 1 , 1 , 1 );
}

.menu-btn:hover {
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-background-color: #9ab6c8;
}


.menu-btn:hover ImageView {
    -fx-effect: innershadow( gaussian , #132335 , 7 , 1 , 1 , 1 );
}

.menu-btn:pressed ImageView {
    -fx-effect: innershadow( gaussian , #66919a , 7 , 1 , 1 , 1 );
}

/* Submit-Post Page */
.content-field {
    -fx-border-radius: 5 5 5 5;
    -fx-control-inner-background: #f7f7ff;
    -fx-background-color: #577399;
}

.submit-post-btn {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-background-color: #bdd5ea;
    -fx-background-radius:30;
    -fx-text-fill: #577399;
}

.submit-post-btn:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #1a3d51;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-border-color: #1a3d51;
    -fx-border-radius:30;
    -fx-border-width:2;
}

.submit-post-btn:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#30b1c6;
    -fx-background-radius:30;
    -fx-border-color: #30b1c6;
    -fx-border-radius:30;
    -fx-border-width:3;
}


.submit-post-btn:hover ImageView {
    -fx-effect: innershadow( gaussian , white , 7 , 1 , 1 , 1 );
}

.post-id-input {
     -fx-text-box-border: #577399;
     -fx-control-inner-background: #f7f7ff;
     -fx-border-radius: 5 5 5 5;
}

.submit-delete-btn {
    -fx-background-color: #e73434;
    -fx-background-radius:10;
    -fx-border-radius:10;
}

.submit-delete-btn:hover {
    -fx-background-color: #dd5b5b;
    -fx-border-width:2;
    -fx-border-color: #dd5b5b;
}

.submit-delete-btn:pressed {
    -fx-background-color:red;
    -fx-border-width:3;
    -fx-border-color: red;
}


.submit-post-btn:hover ImageView {
    -fx-effect: innershadow( gaussian , white , 7 , 1 , 1 , 1 );
}

/* Profile page */}
.profile-username {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-box-border: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
}

.profile-field {
    -fx-background-color: transparent;
}

.profile-input-field {
    -fx-font-family: 'Lato', sans-serif;
    -fx-text-box-border: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 16;
    -fx-background-color: transparent;
}

.profile-text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-cursor: default;
    -fx-font-size: 16;
    -fx-text-box-border: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.profile-btn {
    -fx-background-color: #66919a;
    -fx-background-radius:10;
    -fx-border-radius:10;
}

.profile-btn:hover {
    -fx-background-color: #132335;
    -fx-border-width:2;
    -fx-border-color: #132335;
}

.profile-btn:pressed {
    -fx-background-color:#577399;
    -fx-border-width:3;
    -fx-border-color: #577399;
}

.profile-option-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
        -fx-font-family: 'Lato', sans-serif;
        -fx-font-size: 15;
        -fx-font-weight: bold;
}

.profile-option-btn:hover {
    -fx-text-fill: #1f3243;
    -fx-effect: innershadow( gaussian , #1f3243 , 7 , 1 , 1 , 1 );
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.profile-option-btn:pressed {
    -fx-text-fill: #30b1c6;
    -fx-effect: innershadow( gaussian , #30b1c6 , 7 , 1 , 1 , 1 );
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.save-btn {
   -fx-background-color: #21b038;
   -fx-background-radius:10;
   -fx-border-radius:10;
   -fx-font-family: 'Lato', sans-serif;
   -fx-font-weight: bold;
   -fx-font-size: 15;
}

.save-btn:hover {
    -fx-background-color: #62C572;
    -fx-border-width:2;
    -fx-border-color: #62C572;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.save-btn:pressed {
    -fx-background-color: #0F631D;
    -fx-border-width:3;
    -fx-border-color: #0F631D;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.discard-btn {
    -fx-background-color: #e73434;
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.discard-btn:hover {
    -fx-background-color: #dd5b5b;
    -fx-border-width:2;
    -fx-border-color: #dd5b5b;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.discard-btn:pressed {
    -fx-background-color:red;
    -fx-border-width:3;
    -fx-border-color: red;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#btn2:hover{
    -fx-font-weight:bold;
    -fx-background-color:white;
    -fx-text-fill: #457b9d;
    -fx-border-color: #457b9d;
}

/* Admin Page Menu Button */

.admin-page-menu-btn {
    -fx-background-color: #f7f7ff
}

.admin-page-menu-btn ImageView {
    -fx-effect: innershadow( gaussian , black , 7 , 1 , 1 , 1 );
}

.admin-page-menu-btn:hover {
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-background-color: #f7f7ff;
}

.admin-page-menu-btn:hover ImageView {
    -fx-effect: innershadow( gaussian , #132335 , 7 , 1 , 1 , 1 );
}

.admin-page-menu-btn:pressed ImageView {
    -fx-effect: innershadow( gaussian , #66919a , 7 , 1 , 1 , 1 );

