@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* General */

.btn{
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #577399;
    -fx-background-radius:30;
    -fx-text-fill:white;
    -fx-font-size:16;
}

.btn:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#1a3d51;
    -fx-background-radius:30;
    -fx-text-fill: white;
    -fx-border-color: #1a3d51;
    -fx-border-radius:30;
    -fx-border-width:2;
}

.btn:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#30b1c6;
    -fx-background-radius:30;
    -fx-border-color: #30b1c6;
    -fx-border-radius:30;
    -fx-border-width:3;
}

.title {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
}

.text {
    -fx-font-family: 'Lato', sans-serif;
}

.input_field {
    -fx-text-box-border: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Menu Button */
.menu-btn {
    -fx-background-color: #aecee9;
    -fx-background-radius:10;
    -fx-border-radius:10;
}

.menu-btn ImageView {
    -fx-effect: innershadow( gaussian , black , 7 , 1 , 1 , 1 );
}

.menu-btn:hover {
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-background-color: #9ab6c8;
}


.menu-btn:hover ImageView {
    -fx-effect: innershadow( gaussian , #132335 , 7 , 1 , 1 , 1 );
}

.menu-btn:pressed ImageView {
    -fx-effect: innershadow( gaussian , #66919a , 7 , 1 , 1 , 1 );
}

/* Submit-Post Page */
.content-field {
    -fx-border-radius: 5 5 5 5;
    -fx-control-inner-background: #f7f7ff;
    -fx-background-color: #577399;
}

.submit-post-btn {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-background-color: #bdd5ea;
    -fx-background-radius:30;
    -fx-text-fill: #577399;
}

.submit-post-btn:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #1a3d51;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-border-color: #1a3d51;
    -fx-border-radius:30;
    -fx-border-width:2;
}

.submit-post-btn:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#30b1c6;
    -fx-background-radius:30;
    -fx-border-color: #30b1c6;
    -fx-border-radius:30;
    -fx-border-width:3;
}


.submit-post-btn:hover ImageView {
    -fx-effect: innershadow( gaussian , white , 7 , 1 , 1 , 1 );
}

.post-id-input {
     -fx-text-box-border: #577399;
     -fx-control-inner-background: #f7f7ff;
     -fx-border-radius: 5 5 5 5;
}

.submit-delete-btn {
    -fx-background-color: #e73434;
    -fx-background-radius:10;
    -fx-border-radius:10;
}

.submit-delete-btn:hover {
    -fx-background-color: #dd5b5b;
    -fx-border-width:2;
    -fx-border-color: #dd5b5b;
}

.submit-delete-btn:pressed {
    -fx-background-color:red;
    -fx-border-width:3;
    -fx-border-color: red;
}


.submit-post-btn:hover ImageView {
    -fx-effect: innershadow( gaussian , white , 7 , 1 , 1 , 1 );
}

.submit-find-btn {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-background-color: #bdd5ea;
    -fx-background-radius:10;
    -fx-text-fill: #577399;
}

.submit-find-btn:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #1a3d51;
    -fx-background-radius:10;
    -fx-text-fill: white;
    -fx-border-color: #1a3d51;
    -fx-border-radius:10;
    -fx-border-width:2;
}

.submit-find-btn:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#30b1c6;
    -fx-background-radius:10;
    -fx-border-color: #30b1c6;
    -fx-border-radius:10;
    -fx-border-width:3;
}

/* Profile page */}
.profile-username {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-box-border: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
}

.profile-field {
    -fx-background-color: transparent;
}

.profile-input-field {
    -fx-font-family: 'Lato', sans-serif;
    -fx-text-box-border: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 16;
    -fx-background-color: transparent;
}

.profile-text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-cursor: default;
    -fx-font-size: 16;
    -fx-text-box-border: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.profile-btn {
    -fx-background-color: #66919a;
    -fx-background-radius:10;
    -fx-border-radius:10;
}

.profile-btn:hover {
    -fx-background-color: #132335;
    -fx-border-width:2;
    -fx-border-color: #132335;
}

.profile-btn:pressed {
    -fx-background-color:#577399;
    -fx-border-width:3;
    -fx-border-color: #577399;
}

.profile-option-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
        -fx-font-family: 'Lato', sans-serif;
        -fx-font-size: 15;
        -fx-font-weight: bold;
}

.profile-option-btn:hover {
    -fx-text-fill: #1f3243;
    -fx-effect: innershadow( gaussian , #1f3243 , 7 , 1 , 1 , 1 );
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.profile-option-btn:pressed {
    -fx-text-fill: #30b1c6;
    -fx-effect: innershadow( gaussian , #30b1c6 , 7 , 1 , 1 , 1 );
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.save-btn {
   -fx-background-color: #21b038;
   -fx-background-radius:10;
   -fx-border-radius:10;
   -fx-font-family: 'Lato', sans-serif;
   -fx-font-weight: bold;
   -fx-font-size: 15;
}

.save-btn:hover {
    -fx-background-color: #62C572;
    -fx-border-width:2;
    -fx-border-color: #62C572;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.save-btn:pressed {
    -fx-background-color: #0F631D;
    -fx-border-width:3;
    -fx-border-color: #0F631D;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.discard-btn {
    -fx-background-color: #e73434;
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.discard-btn:hover {
    -fx-background-color: #dd5b5b;
    -fx-border-width:2;
    -fx-border-color: #dd5b5b;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.discard-btn:pressed {
    -fx-background-color:red;
    -fx-border-width:3;
    -fx-border-color: red;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.change-pss-btn {
   -fx-background-color: #577399;
   -fx-background-radius:10;
   -fx-border-radius:10;
   -fx-font-family: 'Lato', sans-serif;
   -fx-font-weight: bold;
   -fx-font-size: 15;
}

.change-pss-btn:hover {
    -fx-background-color:#1a3d51;
    -fx-border-width:2;
    -fx-border-color: #1a3d51;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.change-pss-btn:pressed {
    -fx-background-color:#30b1c6;
    -fx-border-width:3;
    -fx-border-color: #30b1c6;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.date-picker:not-authenticated, .date-picker:not-authenticated > .text-field {
    -fx-opacity: 0.85 ;
    -fx-control-inner-background: transparent;
}

/* Post Object */
.post-object-btn{
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-background-radius:30;
    -fx-text-fill:white;
    -fx-font-size:20;
}

.post-submit {
    -fx-background-color: #51cc5d;
    -fx-background-radius: 0 15 0 0;
}

.post-delete {
    -fx-background-color: #f04c4c;
    -fx-background-radius: 0 0 15 0;
}

.post-object-btn:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-radius:30;
    -fx-text-fill: white;
    -fx-border-radius:30;
    -fx-border-width:2;
}

.post-submit:hover {
    -fx-background-color:#00E016;
    -fx-border-color: #00E016;
    -fx-background-radius: 0 15 0 0;
}

.post-delete:hover {
    -fx-background-color:#ff0000;
    -fx-border-color: #ff0000;
    -fx-background-radius: 0 0 15 0;
}

.post-object-btn:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#30b1c6;
    -fx-background-radius:30;
    -fx-border-color: #30b1c6;
    -fx-border-radius:30;
    -fx-border-width:3;
}

.post-submit:pressed {
    -fx-background-color:#1A8124;
    -fx-border-color: #1A8124;
    -fx-background-radius: 0 15 0 0;
}

.post-delete:pressed {
    -fx-background-color:#AD0606;
    -fx-border-color: #AD0606;
    -fx-background-radius: 0 0 15 0;
}

.post-pane {
    -fx-background-color: white;
}

.post-pane .text {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 20;
}

.post-pane-text {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 20;
}

.post-pane .text-area {
    -fx-background-color: transparent;
}

.post-flowpane {
    -fx-border-color: #04285c;
    -fx-border-width: 2;
}

/* Search Result Object */
.view-button {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill:white;
    -fx-font-size:20;
    -fx-background-color: #666699;
    -fx-background-radius: 0 15 15 0;
}

.view-button:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-border-radius:30;
    -fx-border-width:2;
    -fx-background-color:#5D2788;
    -fx-border-color: #5D2788;
    -fx-background-radius: 0 15 15 0;
}

.view-button:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#30b1c6;
    -fx-border-radius:30;
    -fx-border-width:3;
    -fx-background-color:#380263;
    -fx-border-color: #380263;
    -fx-background-radius: 0 15 15 0;
}


/* Admin List Page */
.admin-list-page-anchor-pane {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color:  BDD5EA;
}

.check-box {
    -fx-font-weight: bold;
}
.check-box .box {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #577399;
    -fx-border-color: #f7f7ff;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #577399;
}

.admin-list-table-view {
    -fx-background-color: transparent;
}

.admin-list-table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.admin-list-table-view .corner {
    -fx-background-color: transparent;
}

.admin-list-table-view .column-header-background{
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size:18;
    -fx-background-color: #f7f7ff;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.admin-list-table-view .column-header {
    -fx-background-color: transparent;
}

.admin-list-table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.admin-list-table-row: odd{
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size:16;
    -fx-font-weight: bold;
    -fx-background-color: BDD5EA;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.admin-list-table-row: even{
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size:16;
    -fx-font-weight: bold;
    -fx-background-color: BDD5EA;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/* Search Page */
.search-btn {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #9ab6c8;
    -fx-background-radius: 30;
    -fx-text-fill:white;
    -fx-font-size:22;
}

.search-btn:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#66919a;
    -fx-background-radius:30;
    -fx-text-fill: white;
    -fx-border-color: #66919a;
    -fx-border-radius:30;
    -fx-border-width:2;
}

.search-btn:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#132335;
    -fx-background-radius:30;
    -fx-border-color: #132335;
    -fx-border-radius:30;
    -fx-border-width:3;
}

.search-field {
    -fx-text-box-border: transparent;
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 20px;
}

.search-field:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.search-result-text {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #527076;
    -fx-font-size: 30px;

}

.search-choice-box > .open-button > .arrow{
    -fx-opacity: 0;
}

.search-choice-box{
    -fx-background-color: transparent;
}

.search-choice-box .text {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 18;
}

.search-choice-box .context-menu {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 16;
}

/** View Post Page **/

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background-color:transparent;
}

.view-post-text {
    -fx-font-size:16px;
    -fx-font-family: 'Lato', sans-serif;
}

.view-post-object {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 0;
}

.display-view-btn {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill:white;
    -fx-font-size:20;
    -fx-background-color: #666699;
    -fx-background-radius: 0 20 20 0;
}

.display-view-btn:hover {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-border-radius:30;
    -fx-border-width:2;
    -fx-background-color:#5D2788;
    -fx-border-color: #5D2788;
    -fx-background-radius: 0 20 20 0;
}

.display-view-btn:pressed {
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-weight:bold;
    -fx-background-color:#30b1c6;
    -fx-border-radius:30;
    -fx-border-width:3;
    -fx-background-color:#380263;
    -fx-border-color: #380263;
    -fx-background-radius: 0 20 20 0;
}

.view-comment {
   -fx-font-size:14px;
   -fx-font-family: 'Lato', sans-serif;
}